/* Styles for My Services Page */

/* Welcome Message and Logout Button */
.welcome-message {
    background-color: #f5faf6; 
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

.logout-button {
    display: inline-block;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #367c39;
}

/* Dashboard and Recommendations Sections */
.personal-dashboard, .recommendations, .exclusive-offers, .services-and-resources {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.personal-dashboard h2, .recommendations h2, .exclusive-offers h2, .services-section h2, .resources-section h2 {
    color: #104c32;
    margin-bottom: 15px;
    text-align: center;
}

.dashboard-items, .offers, .service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Media query for larger screens */
@media (min-width: 800px) { 
    .dashboard-items, .offers, .service-list {
        grid-template-columns: repeat(2, 1fr);
    }
}


.item, .offer, .service-item {
    background-color: #f5faf6;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
}

.item h3, .offer h3, .service-item h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Links in Recommendations and Resources */
.recommendations ul, .resources-section ul {
    list-style-type: none;
    padding: 0;
}

.recommendations li a, .resources-section li a {
    color: #006400;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

.recommendations li a:hover, .resources-section li a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .welcome-message, .personal-dashboard, .recommendations, .exclusive-offers, .services-and-resources {
        width: 90%;
    }
}


/* style for page icons and title */

.item a, .item a:visited { 
    text-decoration: none; 
    color: inherit; 
}

.item h3 {
    font-family: 'Arial', sans-serif; 
    font-size: 1.5em; 
    color: #333; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    margin-top: 15px; 
    text-align: center; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
}

.item img {
    width: 80px; 
    height: auto; 
    display: block; 
    margin: 0 auto 20px; 
    padding-top: 10px;
    
}

/* Hover and Active state for the anchor tag */
.item a:hover h3,
.item a:active h3 {
    text-decoration: underline;
    text-decoration-color: blue; 
}





/* Responsive adjustments  for  icon and title*/
@media (max-width: 768px) {
    .item h3 {
        font-size: 1.2em; 
    }

    .item img {
        width: 60px; 
    }
}

